include README Makefile LICENSE
include Modules/*.c Modules/*.h Modules/LICENSE
include Doc/lib.tex Doc/libldap.tex Doc/Makefile
recursive-include Lib *.py
recursive-include Demo *.py
recursive-include Tests *.py
